input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem snow solid;

  font-size: 1.6 rem;
  font-family: Arial, Helvetica, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #c0c0c0;
  cursor: pointer;
}

button.primary {
  background-color: azure;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}

button.block {
  width: 100%;
}

.login-form {
  max-width: 60rem;
  margin: 0 auto;
}

.login-form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.login-form label {
  margin: 1rem 0;
  display: block;
}
