.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .row.top {
    align-items: flex-start;
  }
  .col-1 {
    flex: 1 1 25rem;
  }
  .col-2 {
    flex: 2 1 50rem;
  }
  img {
    border-radius: 0.5rem;
  }
  img.small {
    max-width: 5rem;
    width: 100%;
  }
  
  img.medium {
    max-width: 29rem;
    width: 100%;
  }
  
  img.large {
    width: 100%;
  }

  button {
    background-color: #c0c0c0;
    cursor: pointer;
  }
  .card {
    border: 0.1rem #c0c0c000 solid;
    background-color: rgb(196, 255, 198);
    border-radius: 0.5rem;
    margin: 1rem;
  }
  .card-body {
    padding: 1rem;
  }
  
  .card-body > * {
    margin-bottom: 0.5rem;
  }
  button {
    background-color: #c0c0c0;
    cursor: pointer;
  }
  
  button.primary {
    background-color: azure;
  }
  button.block {
    width: 100%;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  li {
    margin-top: 1rem;
  }